[submodule "library"]
	path = library
	url = https://gitlab.mebis.alp.dillingen.de/mebis-moodle/hacked/hvp_library.git
[submodule "reporting"]
	path = reporting
	url = https://gitlab.mebis.alp.dillingen.de/mebis-moodle/hacked/hvp_reporting.git
[submodule "editor"]
	path = editor
	url = https://gitlab.mebis.alp.dillingen.de/mebis-moodle/hacked/hvp_editor.git
